<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Cadastro</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="nav">
  <a th:href="@{/componentes}">Voltar</a>
  <a th:href="@{/logout}">Sair</a>
</div>

<div class="container">

  <h1>Cadastro de Componente</h1>

  <form method="post" th:action="@{/componentes/salvar}" th:object="${comp}">
    <input type="hidden" th:field="*{id}">

    <label>Nome</label>
    <input th:field="*{nome}">

    <label>Tipo</label>
    <input th:field="*{tipo}">

    <label>Lote</label>
    <input th:field="*{lote}">

    <label>Tensão</label>
    <input th:field="*{tensao}">

    <label>Datasheet</label>
    <input th:field="*{datasheet}">

    <label>Quantidade</label>
    <input type="number" th:field="*{quantidade}">

    <label>Mínimo</label>
    <input type="number" th:field="*{minimo}">

    <button type="submit">Salvar</button>
  </form>

</div>

</body>
</html>
